<section id="education-section">


    <div class="playfair-display rectangle">
        <h2>EDUCATION</h2>

    </div>

    <%# education content container %>
<div>


<div class="quicksand sliding-img-container">
 <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">


 <div class="sliding-div">

    <div class="rectangle">

<p><strong>Faculty of Sciences and Technologies (FST), Settat, Morocco,</strong> <br> 2024</p>
    <p><u>DEUST in </u>Mathematics, Computer Science, and Physics (MIP)</p>
    </div>
    
 </div>

</div>
<hr>

<div class="quicksand sliding-img-container">
    <img class="gray-img-effect" src="/images/itlearningcampus2.png" alt="">
   
   
    <div class="sliding-div">
        <div class="rectangle">

            <p><strong>Faculty of Sciences and Technologies (FST), Settat, Morocco,</strong> <br>2024 - 2025</p>
                <p><u>Bachelor’s Degree</u>,  Information Systems and Digital Transformation</p>
                </div>
    </div>
   
   </div>
</div>

       





</section>