<section id="experience-section">
    
    <div>
        <div class="rectangle playfair-display">
            <h2>EXPERIENCE</h2>
           </div>
    </div>
    <div class="experience-div">
        
        <%# experience 1 paragraph%>
        <div class="quicksand"> 
            
            <p class="red-color">April 2025 – June 2025</p> 
            <p><strong>Full-Stack Developer Intern | SNRT, Rabat</strong></p>
             <br>
            <p>
    I worked as a Full-Stack Developer Intern at SNRT in Rabat from April to June 2025. During this internship, I was responsible for developing a complete web application using React, Node.js, Express.js, and PostgreSQL. I handled both the front-end and back-end logic, implemented authentication, and ensured proper integration of UI components. This experience strengthened my ability to manage full-stack development tasks in a real-world setting while working within a collaborative environment.
        </p></div>

        <%# experience 1 image%>
   
            <img class="gray-img-effect"  src="/images/snrt.png" alt="">
 

        <%# experience 2 paraghrap%>
        <div class="quicksand"> 
            
            <p class="red-color">June 2024 - August 2024</p> 
            <p><strong>IT Intern (Automation Developer)| ROCA Maroc</strong></p>
            <br>
            <p>
            I developed a custom automation solution using VBA (Visual Basic for Applications) to streamline the processing of Excel files. This tool significantly reduced manual workload, minimized errors, and improved the efficiency of financial data handling. It was a hands-on experience that deepened my understanding of automation in real business environments.
        </p>

    </div>

    <%# experience 2 image%>

        <img class="gray-img-effect" src="/images/img_ROCA.jpg" alt="">

          <%# experience 3 paraghrap%>
        <div class="quicksand"> 
            
            <p class="red-color">July 2023 - August 2023</p> 
            <p><strong> IT Intern (Observation)| ROCA Maroc</strong></p>
            <br>
            <p>
           I completed an observation internship at ROCA MAROC in Settat, where I was introduced to the internal IT operations of a large manufacturing company. This experience allowed me to observe software deployment, network infrastructure, and system maintenance practices. It provided valuable insight into how IT services support daily operations across departments.
        </p>

    </div>

    <%# experience 3 image%>

        <img class="gray-img-effect" src="/images/ROCA.jpg" alt="">



    </div>

   



</section>